# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  release:
    types:
      - created

jobs:
  test-ios:
    name: Test on iOS Simulator
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run unit tests on iOS Simulator
        run: |
          # Define the destination for the iOS Simulator
          IOS_DESTINATION="platform=iOS Simulator,name=iPhone 17,OS=latest"
          
          PACKAGE_SCHEME="HarmonicClientSideAdTracking"

          set -o pipefail && env NSUnbufferedIO=YES xcodebuild test \
            -scheme "$PACKAGE_SCHEME" \
            -destination "$IOS_DESTINATION" \
            | xcpretty
